body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
}

.play {
  position:fixed;
  top: 20px;
  left: 50%;
  z-index: 1000;
  color: white;
  min-width: 100px;
  background: rgba(0,0,0,0.2);
  text-shadow: 0 0 10px black;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 16px;
  border-style: none;
  font-family: 'Open Sans', sans-serif;
  transition: opacity .25s ease-in-out;
}

.exit {
  align-self: flex-end;
  padding: 10px;
  margin-bottom: 5px;
  height: 20px;
  width: 20px;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit:hover {
  color: #ec3c7b;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  width: 80%;
  background: rgba(0,0,0,0.8);
  padding: 10px 20px 20px 20px;
  /* border: rgba(255,255,255,0.8) 3px solid; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#api-frame {
  height: 100%;
  width: 100%;
  border: none;
}